DJANGO_SETTINGS_MODULE=config.settings_dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
USE_POSTGRES=False
DATABASE_URL=


APP_BASE_URL=http://127.0.0.1:8000
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_SECURE=False
SESSION_COOKIE_SAMESITE=Lax
CSRF_COOKIE_SAMESITE=Lax
SECURE_SSL_REDIRECT=False
USE_X_FORWARDED_HOST=True
SECURE_PROXY_SSL_HEADER_PROTO=https
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
NGINX_PUBLIC_PORT=8012
DJANGO_LOAD_SEED=0
DB_WAIT_TIMEOUT=60